# игнорирование по расширению
/test/*.cfg
#игнорирование файлов с различием в один символ
/test/number?.txt
# игнорирование каталога с разным уровнем вложенности
/test/**/admin
# исключения из игнорирования папки admin
!/test/**/admin/exception.txt
# пример с экраном
/test/lower\_case.*
